<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <title>Career Day Scheduler</title>

    <script type="text/javascript" src="/vendors/angular.min.js"></script>
    <script type="text/javascript" src="/vendors/angular-route.min.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/factories/dataFactory.js"></script>
    <script type="text/javascript" src="/scripts/controllers/recruiterController.js"></script>
    <script type="text/javascript" src="/scripts/controllers/studentController.js"></script>
    <script type="text/javascript" src="/scripts/controllers/scheduleController.js"></script>

    <script src="https://apis.google.com/js/platform.js" async defer></script>

    <link rel="stylesheet" href="/vendors/normalize.css" />
    <link rel="stylesheet" href="/vendors/skeleton.css" />
    <link rel="stylesheet" href="/styles/style.css" />
</head>
<body>

<div class="container">
    <nav class="twelve columns">
        <ul>
            <a href="#student"><li>Students</li></a>
            <a href="#recruiter"><li>Recruiters</li></a>
            <a href="#schedule"><li>Schedules</li></a>
        </ul>
    </nav>

    <div ng-view></div>
</div>

</body>
</html>