<h2>Cohorts</h2>

<h3>Add a New Cohort</h3>

<form>
    <label for="name">Name:</label>
    <input type="text" ng-model="name" id="name" />

    <button id="add-cohort" ng-click="addCohort()">Add Cohort</button>

</form>

<table>
    <thead>
    <tr>
        <th>Name</th>
    </tr>
    </thead>

    <tbody ng-repeat="cohort in cohorts">
    <tr>
        <td>{{cohort.name}}</td>
        <td><button>Edit</button></td>
        <td><button>Delete</button></td>
        <td><button>Create Event</button></td>
        <!-- These buttons need to be dynamically generated, but they also
        each need to have an id that ties them to the correct cohort -->
    </tr>
    </tbody>
</table>
