<h2>Contacts</h2>

<table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Company</th>
        <th>Email</th>
      </tr>
    </thead>

    <tbody ng-repeat="contact in contacts">
      <tr>
        <td>{{contact.name}}</td>
        <td>{{contact.company}}</td>
        <td>{{contact.email}}</td>
      </tr>
    </tbody>
</table>

<form>
    <label for="name">Name:</label>
    <input type="text" ng-model="name" id="name" />
    <label for="company">Company:</label>
    <input type="text" ng-model="company" id="company" />
    <label for="email">Email:</label>
    <input type="text" ng-model="email" id="email" />

    <button id="add-contact" ng-click="addContact()">Add Contact</button>


</form>